{% extends 'base.html.twig' %}

{% block main %}

	<!-- ======= Hero Section ======= -->
	<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
		<div class="hero-container" data-aos="fade-in">
			<h1>Retail Laura</h1>
			<p>We are
				<span class="typed" data-typed-items="Innovative, Stylish, Authentic, Sustainable"></span>
			</p>
		</div>
	</section>
	<!-- End Hero -->

{% endblock %}
